.list__container {
    border-radius: 0.5rem;
    background: var(--color-bg-variant);

    border: 2px solid var(--color-primary-variant);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    row-gap: 1rem;
    /* padding: 0; */
}